[Desktop Entry]
Version=1.0
Name=ringsRadiant
GenericName=ringsRadiant
Type=Application
Comment=Level editor for ID Tech based games including Quake series.
Icon=io.github.ringsce.GtkRadiant
Exec=ringsradiant
Terminal=false
StartupNotify=false
Keywords=multi;engine;level editor;quake;id tech;
Categories=Development;X-LevelEditor;X-GameLevelEditor;
